@import url("reset.css");

/* Підключаємо шрифт Quicksand для header & footer */

@import url("https://fonts.googleapis.com/css?family=Quicksand:regular,700&display=swap");

/* Підключаємо шрифт Exo */

@import url("https://fonts.googleapis.com/css?family=Exo:regular,700&display=swap");

/* Підключаємо шрифт Orbitron */

@import url("https://fonts.googleapis.com/css?family=Orbitron:500,700&display=swap");

/* Підключаємо шрифт Proxima Nova */

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/proxima-nova/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/proxima-nova/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Стилізація header і footer щоб не пустували */

.header {
    /* background-color: black; */
    padding: 10px 15px;
}

.body {
    width: 100%;
}

.header::after {
    content: "";
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 5px;
    background: linear-gradient(90deg, rgba(49, 35, 174, 1) 0%, rgba(252, 0, 153, 1) 100%);
}

.header-content {
    margin: 0 auto 10px auto;
    max-width: 190px;
}

.header-content>*:not(:first-child) {
    margin-left: 10px;
}

.header-icon {
    max-width: 40px;
    vertical-align: middle;
}

.header-link,
.header-icon {
    border-radius: 50%;
}

.header-icon:hover {
    max-width: 50px;
    margin: -5px -5px -5px -5px;
    outline: 3px solid rgb(168, 52, 197);
}

.header-title,
.footer-title {
    display: inline-block;
    color: black;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

.header-title:hover {
    font-weight: 700;
    margin-right: -3.25px;
    border-bottom: 1px dotted aliceblue;
}

.footer {
    text-align: center;
}

.footer-title {
    width: 95%;
    font-weight: 700;
}

.footer-title::before {
    content: "";
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 5px;
    background: linear-gradient(90deg, rgba(49, 35, 174, 1) 0%, rgba(252, 0, 153, 1) 100%);
    margin-bottom: 10px;
}





/* Пратика псевдокласів і псевдоелементів з 7 уроку */

/* Попереднє налаштування конструкції */

.pseudocloths {
    max-width: 90%;
    margin: 0 auto 10px;
    text-align: center;
    font-size: 0px;
    padding: 10px 0px;
}

.pseudocloths>li {
    width: 25%;
    display: inline-block;
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    background-color: #E5E500;
    border-radius: 30px;
    padding: 5px 0px;
    margin: 0px 10px 0px 0px;
    box-shadow: 3px 3px 0px 1px #aaaa02;
}

.pseudocloths>li:not(:nth-child(1n + 10)) {
    margin: 0px 10px 10px 0px;
}

/* Пратика псевдокласів */

.hover:hover {
    opacity: 0.5;
    border-radius: 15px;
    font-weight: normal;
}

.active:active {
    outline: 3px dashed red;
    outline-offset: 3px;
}

.visited:visited {
    /* У Opera жодна властивість у мене не відображається, у Chrome тільки одна, з тих що я пробував - колір тексту */

    color: violet;
    /* Підкреслення у мене чомусь не відображається */
    text-decoration: underline;
    /* Фоновий колір також */
    background-color: white;
}

/* Буде показуватись при переміщенні по сайту через Tab та при "фокусі" на посиланні */
.focus:focus {
    outline: 3px double white;
    /* outline-offset: 3px; */
}

/* Буде показуватись тільки при переміщенні по сайту через Tab */
.focus:focus-visible {
    color: blue;
    border: 5px solid black;
}

#lesson-7:target {
    outline: 1px solid black;
    outline-offset: 2px;
}

.pseudocloths>:first-child {
    color: red;
}

.pseudocloths>:last-child {
    color: salmon;
}

/* Кожен "перший" починаючи з третього */
.pseudocloths>:nth-child(1n +3) {
    text-shadow: 2px 2px 10px black;
}

/* Кожен 4й починаючи з 4го */
.pseudocloths>:nth-child(4n) {
    color: blue;
}

.pseudocloths>:nth-child(even) {
    font-weight: 300;
}

.pseudocloths>:nth-child(odd) {
    text-decoration: underline;
}

.pseudocloth>a:first-of-type {
    text-decoration: overline;
}

.test-pseudocloth {
    padding: 5px 30px;
    margin-bottom: 10px;
    text-align: center;
}

.test-pseudocloth>:first-child {
    font-weight: 700;
}

.test-pseudocloth>span:first-of-type {
    text-decoration: underline dashed 3px;
}

.test-pseudocloth>:last-child {
    font-style: italic;
}

.test-pseudocloth>a:last-of-type {
    text-transform: uppercase;
}


.test-pseudocloth>span:nth-child(2n + 1) {
    text-transform: capitalize;
    color: red;
}

.test-pseudocloth>span:not(:nth-child(2n+1)) {
    color: blue;
}

.test-pseudocloth>*:not(.test-pseudocloth-title) {
    color: orange;
}

/* Вкладеність */

.test-pseudocloth:hover span {
    font-size: 20px;
}

.test-pseudocloth:active a {
    color: red;
    text-decoration: underline;
}

.test-pseudocloth:active .keyword {
    color: blue;
    font-weight: 700;
}

.test-pseudocloth:has(h2) {
    background-color: #d199e2;
}

.test-pseudocloth:has(.keyword):hover {
    border-radius: 50px;
    margin: 0px 20px;
}

/* Псевдоелементи */

.test-pseudocloth:has(a)::before {
    content: "";
    display: block;
    width: 1080px;
    height: 5px;
    background-color: rgb(204, 58, 184);
}

.test-pseudocloth:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: red;
}

/* Гра "дійди до кінця" */

.game-snake {
    margin: 0px 0px 10px 0px;
    font-family: "Quicksand", sans-serif;
    padding: 20px;
    font-weight: 700;
    background: linear-gradient(90deg, rgba(49, 35, 174, 1) 0%, rgba(252, 0, 153, 1) 100%);
    width: 1080px;
    margin: 0 auto 10px;
}

.game-snake-title,
.game-snake-win-title {
    text-align: center;
    font-size: 25px;
    color: aliceblue;
    margin-bottom: 10px;
}

.game-snake-arrow {
    width: 0px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 50px solid orange;
}

.game-snake-block-0 {
    height: 18px;
    width: 60px;
    background-color: orange;
    text-align: center;
    font-size: 18px;
}

/* Стилізація гри */

.game-snake {
    font-size: 0;
}

.game-snake-block-1 {
    width: 60px;
    height: 300px;
}

.game-snake-block-2 {
    display: inline-block;
    height: 50px;
    width: 980px;
}

.game-snake-block-3 {
    display: inline-block;
    width: 40px;
    height: 200px;
    margin-left: 1000px;
}

.game-snake-block-4 {
    height: 30px;
    width: 520px;
    margin-left: 520px;
}

.game-snake-block-5 {
    width: 20px;
    height: 100px;
    margin-left: 520px;
}

.game-snake-block-6 {
    width: 20px;
    height: 20px;
    background-color: red;
    margin-left: 520px;
    visibility: hidden;
}

/* Стилізація "перехідників", щоб новий блок з'являвся тільки "під кінець" поточного */

.game-snake>span {
    background-color: rebeccapurple;
}

.game-snake-block-1-1 {
    display: inline-block;
    width: 60px;
    height: 50px;
}

.game-snake-block-2-2 {
    display: inline-block;
    width: 40px;
    height: 50px;
    margin-left: 1000px;
}

.game-snake-block-3-3 {
    display: inline-block;
    width: 40px;
    height: 30px;
    margin-left: 1000px;
}

.game-snake-block-4-4 {
    display: inline-block;
    width: 20px;
    height: 30px;
    margin-left: 520px;
}

.game-snake-block-5-5 {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 520px;
}

.game-snake-block:not(.game-snake-block-6) {
    visibility: hidden;
    background-color: orange;
}

/* Логіка гри */

.game-snake-block:hover {
    visibility: visible;
}

.game-snake-block-0:hover+.game-snake-block-1 {
    visibility: visible;
}

.game-snake-block-1:hover+.game-snake-block-1-1 {
    visibility: visible;
}

.game-snake-block-1-1:hover+.game-snake-block-2 {
    visibility: visible;
}

.game-snake-block-2:hover+.game-snake-block-2-2 {
    visibility: visible;
}

.game-snake-block-2-2:hover+.game-snake-block-3 {
    visibility: visible;
}

.game-snake-block-3:hover+.game-snake-block-3-3 {
    visibility: visible;
}

.game-snake-block-3-3:hover+.game-snake-block-4 {
    visibility: visible;
}

.game-snake-block-4:hover+.game-snake-block-4-4 {
    visibility: visible;
}

.game-snake-block-4-4:hover+.game-snake-block-5 {
    visibility: visible;
}

.game-snake-block-5:hover+.game-snake-block-5-5 {
    visibility: visible;
}

.game-snake-block-5-5:hover+.game-snake-block-6 {
    visibility: visible;
}

.game-snake-block-6:hover+.game-snake-win {
    visibility: visible;
}

.game-snake-win:hover {
    visibility: visible;
}

/* Стилізування "перемоги" у грі */

.game-snake-win {
    padding-top: 15px;
    width: 100%;
    background: url("../img/test/win-game.jpg") center no-repeat;
    height: 500px;
    visibility: hidden;
}





/* Стилізування макетів  */

.portfolio {
    padding: 120px 0;
    background-color: black;
    margin-bottom: 10px;
    color: white;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.99) 100%), url("../img/portfolio/background.jpg") no-repeat center;
    background-size: cover;
}

.portfolio_about {
    font-family: "Exo", sans-serif;
    max-width: 992px;
    margin: 0 auto 60px;
    text-align: center;
}

.portfolio_about>h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.16666667;
    text-transform: uppercase;
}

.portfolio_list {
    max-width: 1150px;
    font-size: 0px;
    margin: 0 auto;
}

.portfolio_list-item {
    font-family: "Orbitron", sans-serif;
    display: inline-block;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 1.25;
    margin-right: 60px;
}

.portfolio_list-item::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(77, 240, 0, 1) 49%, rgba(36, 0, 255, 1) 100%);
    margin-left: 60px;
}

.portfolio_list-item:last-child {
    margin-right: 0px;
}

.portfolio_list-item:hover {
    font-weight: 700;
    text-decoration: underline;
}

.portfolio_about>h2::after {
    content: "";
    display: block;
    width: 401px;
    height: 1px;
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(77, 240, 0, 1) 49%, rgba(36, 0, 255, 1) 100%);
    margin: 20px auto;
}

.portfolio_about>p {
    font-size: 18px;
    line-height: 2.22222222;
    text-transform: capitalize;
    /* Плагін і фігма показує цей параметр, однак і візуально, і по розміщенню слів у блоці видно, щл насправді цього параметру немає  */
    /* letter-spacing: -1px; */
}

/* Робимо так, щоб були відступи, навіть якщо змінять порядок або додадуть об'єкти (заголовок чи параграф */

.portfolio_about>:not(:last-child) {
    margin-bottom: 20px;
}





/* Стилізування контактів для цього ж макету */


.portfolio_contacts {
    background-color: #000001;
    color: white;
    font-size: 0px;
    font-family: "Exo", sans-serif;
    margin-bottom: 10px;
    padding-top: 160px;
    padding-left: 120px;
    padding-bottom: 111px;
}

.portfolio_contacts-list>li {
    font-size: 20px;
    display: inline-block;
}

.portfolio_contacts-list>li {
    margin-right: 80px;
}

.portfolio_contacts-list>li:nth-child(2) {
    text-transform: capitalize;
}

.portfolio_contacts-list>li:nth-child(1)::before {
    display: inline-block;
    content: "";
    height: 20px;
    width: 20px;
    margin-right: 20px;
    background: url("..//img/portfolio/phone.png") center / 100% no-repeat;
    vertical-align: middle;
}

.portfolio_contacts-list>li:nth-child(2)::before {
    content: "";
    display: inline-block;
    height: 16.29px;
    width: 13.33px;
    background: url("../img/portfolio/geo.png") center / 100% no-repeat;
    vertical-align: middle;
    margin-right: 20px;
}

.portfolio_contacts-list>li:nth-child(3)::before {
    content: "";
    display: inline-block;
    height: 15.12px;
    width: 20px;
    background: url("../img/portfolio/mail.png") center / 100% no-repeat;
    vertical-align: middle;
    margin-right: 20px;
}

.portfolio_contacts-list>li:hover {
    text-decoration: underline;
    font-weight: 700;
}





/* Стилізація макету KROVATO */


/* Загальне редагування блоку сайту */
.krovato {
    padding: 75px 0px 40px 0px;
    background-color: #F8F8F8;
    color: #2b2929;
    font-family: "Proxima Nova", sans-serif;
    margin-bottom: 10px;
}

/* Задання максимальної ширини і центрування блоку статті */
.krovato-article {
    max-width: 1070px;
    margin: 0 auto;
}

/* Форматування головного заголовку статті */
.krovato-article-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.20;
    margin-bottom: 40px;
}

.krovato-image-block {
    max-width: 1070px;
    border-radius: 8px;
    overflow: hidden;
}

.krovato-image-block-image {
    max-width: 1070px;
}

/* Форматування параграфів */
.krovato-article-paragraph,
.krovato-article-list>li {
    font-size: 16px;
    line-height: 1.875;
}

.krovato-article-paragraphs,
.krovato-article-list,
.krovato-image {
    margin-bottom: 40px;
}

.krovato-article-list>li:not(:last-child) {
    margin-bottom: 20px;
}

.krovato-article-paragraphs>p:not(:last-child) {
    margin-bottom: 20px;
}

.krovato-article-list>li {
    padding-left: 47px;
}

/* Стилізація маркованого списку */
.krovato-article-list>li::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("../img/krovato/item.png");
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    /* По фігмі відступ має бути 15px, але якщо його встановити то перший рядок тексту буде надто посунутим вправо, тому візуально встановив такий відступ */
    margin-right: 11px;
    margin-left: -47px;
}

/* Форматування підзаголовку */
.krovato-article-title-1 {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 30px;
}