@import url("reset.css");

@import url("https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular&display=swap");

/* Підключаємо шрифт Proxima Nova */

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/proxima-nova/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/proxima-nova/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Стилізую кнопку - шоб header не був пустий */

.header {
    padding: 10px;
    margin-bottom: 10px;
}

.button {
    padding: 10px 0px;
    min-width: 200px;
    max-width: 20%;
    min-height: 40px;
    text-align: center;
    background-color: blueviolet;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0px 5px 0px 3px black;
}

.button:hover {
    margin: 2px auto -2px auto;
    box-shadow: 0px 3px 0px 2px black;
}





/* Зменшив зображення для зручності */

.inline-block {
    width: 300px;
}

/* Тестування властивостей з уроку на різних типах об'єктів */



/* Border загальні параметри */

.block {
    color: black;
    /* З прозорим кольором нагадує padding */

    /* border: 10px solid transparent;
    border: 10px dotted red;
    border: 10px dashed violet;
    border: 10px double silver; */

    /* Унаслідує колір тексту */

    /* border: 10px solid;
    border-color: red;
    border-style: double;
    border-top-style: dashed;
    border-bottom-width: 5px;
    border-left-color: green; */

    /* Межа накладується одна на одну */

    /* border-inline: 10px double red;
    border-block: 10px dotted red;
    border-block-style: dashed;
    border-block-width: 5px;
    border-block-color: yellow;
    border-inline-color: green;
    border-inline-width: 15px;
    border-inline-style: dotted; */
    margin-bottom: 20px;
}

.inline {
    color: black;

    /* border: 10px solid red;
    border-block: 10px solid yellow;
    border-inline: 7px double violet;
    border-bottom: 5px solid;
    border-right: 15px solid orange; */
}

.inline-block {
    color: black;

    /* Зображення зменшилось через межу, бо у файлі обнулення стилів встановлено параметр box-sizing: border-box; */

    /* border: 10px solid transparent;
    border: 5px solid black;
    border-inline: 10px double black;
    border-block: 10px double black;
    border-right: 15px dashed yellow;
    border-style: dotted; 
    border-top: none*/

    /* Все працює як і на блочному елементі */
}



/* Властивість outline */

.block {
    color: black;

    /* outline: 5px solid black;
    outline-width: 10px;
    outline-color: blue;
    outline-style: double;
    outline-offset: 5px; */
}

.inline {
    color: black;

    /* Краще працює з рядковими елементами, ніж border */

    /* outline: 5px solid black;
    outline-width: 10px;
    outline-color: blue;
    outline-style: dotted;
    outline-offset: 7px; */
}

.inline-block {
    color: black;

    /* Перекриває текст вище, але не рухає його, бо рамка outline створюється поза блоком, в той час як border усередині об'єкту */

    /* outline: 10px solid orange;
    outline-width: 3px;
    outline-style: dashed;
    outline-color: salmon;
    outline-offset: 5px; */
}

/* Властивість border-radius */

.block {
    color: black;

    /* background-color: aquamarine;
    border: 5px solid orange;
    border-radius: 30px;
    border-radius: 5px 50px 20px 35px; */

}

.inline {
    color: black;

    /* background-color: red;
    outline: 10px dashed orange;
    border-radius: 30px;
    border-radius: 5px 50px 20px 35px; */
}

.inline-block {
    color: black;

    /* outline: 10px dotted violet;
    border-radius: 30px;
    border-radius: 5px 50px 20px 35px; */
}

/* Фігури на border-radius */

.block-empty {
    color: black;

    /* margin: 10px; */
    /* Звичайний квадрат */
    /* width: 496px;
    height: 496px; 
    background-color: black; */

    /* фігура з сайту з підбору параметрів межі */
    /* border-radius: 32% 68% 70% 30% / 30% 30% 70% 70%; */

    /* Із квадрата коло вийшло */
    /* border-radius: 50%; */

    /* Робимо стрілку вліво та вниз для прикладу */

    /* width: 0px;
    height: 0px;

    border-top: 50px solid transparent;
    border-right: 100px solid green;
    border-bottom: 50px solid transparent;

    border-left: 50px solid transparent;
    border-top: 100px solid green;
    border-right: 50px solid transparent; */
}

.block-empty {
    color: black;
    /* Прибираю з в'єюпорту, щоб не заважав надалі */
    display: none;

    /* background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%); */

    /* Спробував повторити фігуру з сайту для border-radius і градієнт завдяки двом сайтам з уроку, вийшло схоже, але не 1:1 */

    /* width: 496px;
    height: 496px;
    background: linear-gradient(45deg, rgba(49, 35, 174, 1) 0%, rgba(252, 0, 153, 1) 100%);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; */
}

.block {
    color: black;

    /* box-shadow: 10px 10px 15px 5px black;
    box-shadow: inset 10px 10px 15px 5px black; */
}

.inline {
    color: black;

    /* Очікувано дивно працює з рядковими елементами */
    /* box-shadow: 10px 10px 15px 5px black;
    box-shadow: inset 10px 10px 15px 5px black; */
}

.inline-block {
    color: black;

    /* Формат rgba для додання параметру прозорості для тіні */
    /* box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.733); */
    /* Параметр inset у властивості box-shadow не працює для зображень*/
    /* box-shadow: inset 10px 10px 15px 5px rgba(0, 0, 0, 0.733); */
}

.page {
    color: black;
    /* Властивість не успадковується, але всі дочірні елементи будуть мати такий саме параметр (саме візуально, в коді може бути будь-який інший параметр, але візуально він буде = параметру і значенню у батьківського елемента) */
    /* opacity: 50%;
    opacity: 0.5; */
}

.inline {
    color: black;
    /* Об'єкт не відображається і з ним ніяк не можна взаємодіяти, але він все ще займає певний простір у в'єютпорті */
    /* visibility: hidden; */

    /* Об'єкт відображається, з ним можна взаємодіяти, копіювати, клацати тощо, але його не видно */
    /* opacity: 0; */

    /* Об'єкт взагалі не опрацьовується браузером і не виводиться, не займає жодного місця, взаємодіяти теж не можна :) */
    /* display: none; */
}





/* Універсальна властивість background */

.block {
    color: black;

    /* background-image: url("../img/test/test-icon.png"); */

    /* background-image: url("../img/test/neverending-image-test.jpg");
    font-size: 50px;
    background-attachment: fixed;
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat; */

    /* background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%); */

    /* background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y; */

    /* background-size: 1%;
    background-size: 15px; */

    /* background-repeat: no-repeat;
    background-size: contain;
    background-size: cover; */

    /* background-repeat: no-repeat;
    background-position: 10% 10%;
    background-position: right bottom;
    background-position: 50%;
    background-position: 15px 15px; */


}

.inline {
    color: black;

    /* background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%); */

    /* background-image: url("../img/test/test-icon.png"); */

    /* background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y; */

    /* background-size: contain;
    background-size: cover; */

    /* background-repeat: no-repeat; */

    /* background-position: 10% 10%;
    background-position: right bottom;
    background-position: 50%;
    background-position: 15px 15px; */
}

.inline-block {
    color: black;

    /* background-image: url("../img/test/test-icon.png");
    padding: 23px;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%); */

    /* background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y; */
}





/* Домашнє завдання */

/* Макет KROVATO */

.krovato {
    max-width: 1920px;
    background-color: #F8F8F8;
    min-height: 1900px;
    padding: 75px 0px 0px 0px;
}

.krovato-article {
    max-width: 1070px;
    margin: 0 auto;
    color: #2b2929;
    font-family: 'Proxima Nova', serif;
}

.krovato-head-title {
    font-size: 40px;
    font-weight: 600;
    /* 48px/40 */
    line-height: 1.20;
    margin: 0px 0px 40px 0px;
}

.krovato-image {
    max-width: 1070px;
    border-radius: 8px;
    margin: 0px 0px 40px 0px;
}

.krovato-paragraph,
.krovato-conclusion {
    font-size: 16px;
    /* 30px/16 */
    line-height: 1.875;
    margin-bottom: 20px;
}

.krovato-conclusion,
.krovato-paragraphs,
.krovato-list {
    margin-bottom: 40px;
}

.krovato-title {
    font-size: 20px;
    font-weight: 600;
    /* 28px/20 */
    line-height: 1.40;
    margin-bottom: 30px;
}

.krovato-list-item {
    min-height: 27px;
    background: url("../img/krovato/item.png") no-repeat;
    font-size: 16px;
    /* 30px/16px */
    line-height: 1.875;
    padding-left: 47px;
}





/* Макет EduPlay */

.edu-play {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 80px;
    font-size: 0px;
    background: url("../img/edu-play/background.png") center, url("../img/edu-play/edu-play-letters/8.png") 378.85px -16px, url("../img/edu-play/edu-play-letters/5.png") 335px 216px, url("../img/edu-play/edu-play-letters/0.png") 414.92px 498.5px, url("../img/edu-play/edu-play-letters/X.png") 640px 22px, url("../img/edu-play/edu-play-letters/o.png") 625px 92px, url("../img/edu-play/edu-play-letters/M.png") 674px 471px, url("../img/edu-play/edu-play-letters/p.png") 761.25px 173px, url("../img/edu-play/edu-play-letters/k.png") 823.65px 368.5px, url("../img/edu-play/edu-play-letters/Books.png") 888px 121.65px, url("../img/edu-play/edu-play-letters/Kite.png") 831px 246.1px, url("../img/edu-play/edu-play-letters/f.png") 1192.22px 257px, url("../img/edu-play/edu-play-letters/B.png") 1163.4px 26px, url("../img/edu-play/edu-play-letters/polygons.png") 1222px 70.31px, url("../img/edu-play/edu-play-letters/ellipse.png") 1325px 280.73px, url("../img/edu-play/edu-play-letters/Vector.png") 925px 86px, #914CFF;
    background-repeat: no-repeat;
}

.edu-play-layout {
    max-width: 1280px;
}

/* Стилізація текстового блоку */

.edu-play-content {
    max-width: 600px;
    font-size: 20px;
    display: inline-block;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    color: #fff;
    margin-top: 121px;
}

.edu-play-title {
    font-size: 40px;
    line-height: 1.20;
}

.edu-play-paragraph {
    font-size: 20px;
    line-height: 1.60;
    font-weight: 500;
}

.edu-play-title,
.edu-play-paragraph {
    margin-bottom: 24px;
}

/* Стилізація кнопки */

.edu-play-button {
    color: #0d1216;
    font-size: 16px;
    line-height: 1.5625;
    max-width: 217px;
    padding: 11.5px 20px 11.5px 40px;
    border-radius: 8px;
    background: url("../img/edu-play/button-image.png") no-repeat 20px, #FFFFFF;
}

/* Стилізація зображення */

.edu-play-image {
    margin: 0px 0px 36.89px 133px;
    max-width: 515px;
}





/* Макет Coral */

.coral {
    max-width: 1920px;
    padding: 76px 0px 80px 0px;
    background: url("../img/coral/vector2.png") -28px 472px, url("../img/coral/vector.png") 1752px 258px, #F3F4F4;
    background-repeat: no-repeat;
}

.coral-layout {
    max-width: 1226px;
    margin: 0 auto;
    font-size: 0;
    font-family: Roboto, sans-serif;
    color: #000;
    background: url("../img/coral/shadow.png") 802px 20px no-repeat;
}

.coral-content {
    margin-top: 74px;
    font-size: 30px;
    max-width: 686px;
    display: inline-block;
}

.coral-head-title {
    font-size: 74px;
    line-height: 0.74324324;
    margin-bottom: 52px;
}

.coral-paragraph {
    line-height: 1.98333333;
    margin-bottom: 66px;
}

.coral-button,
.coral-paragraph {
    text-transform: capitalize;
    font-weight: 400;
}

.rectangle {
    display: none;
}

.coral-button {
    max-width: 223px;
    background: url("../img/coral/button-icon.png") no-repeat 29px, #1E2832;
    color: #FFFFFF;
    padding: 19px 24px 19px 64px;
    font-size: 29px;
}

.coral-image {
    /* В нас і так є падінг 60 знизу, але без марджину тінь для зображення ховається */
    margin: 0px 0px 80px 98px;
    max-width: 424px;
    border-radius: 160px 0px 160px 0px;
}

/* Варіанти тіні */

/* Варіант з обгорткою в div зображення */

/* .coral-image-box {
    display: inline-block;
    overflow: hidden;
    min-width: 444px;
    min-height: 564px;
    Довелось пожертвувати 20рх margin щоб все працювало
    margin: 0px 0px 0px 78px;
    background: url("../img/coral/shadow.png") 18px 20px no-repeat;
    vertical-align: 0px;
} */

/* Взагалі не те, бо тінь має бути від "меж" зображення, а цей варівант створює суцільну тінь id="coral_question" */

/* .coral-image {
    overflow: hidden;
    display: inline-block;
    max-width: 424px;
    margin: 0px 0px 0px 98px;
    border-radius: 160px 0px 160px 0px;
    box-shadow: 18px 20px 0px 2px #B6B7B7;
} */


/* Кривий варіант тіні, бо вона частково з'їлась */

/* .coral-image {
    border-radius: 160px 0px 160px 0px;
    box-shadow: 16px 18px 0px 0px #F3F4F4, 18px 20px 0px 0px #B6B7B7;
} */

/* Варіант тіні через прямокутник і margin, по розрахункам звичайно, в цьому випадку варто прибирати зображення з обгортки div */

/* .rectangle {
    width: 424px;
    height: 542px;
    border: 2px solid #B6B7B7;
    border-radius: 160px 0px 160px 0px;
    margin: -522px 0px 0px 802px;
}

/* Останній варіант - через background - на початку форматування макету */