@import url("reset.css");

@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/proxima-nova/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/proxima-nova/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.header {

    /* Неочікувано впливає і на зображення */
    text-align: center;

    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
}

#button-link {

    /* Згадуємо заняття про селектори і їх пріорітет та міняємо форматування у посилання, перебиваючи файл обнулення */

    margin: -50px 0px 50px 0px;
    display: block;
}

.button-background {

    /* Експериментуємо з примітивною кнопкою
    Задаємо центрування і зовнішній відступ від попердніх об'єктів і ставимо значення block у властивости display для центрування 
    
    Мінус - так як ми задали значення "block" у display для посилання, то воно буде активуватись навіть поза кнопкою (по всій довжині рядка), таке звичайно ні в якому разі не можна робити у реальних проектах 
    
    Плюс - адаптатив, який залишається по центру при розширенні або звуженні екрану, чого у мене не вийшло зробити з властивістю inline-block*/

    padding-top: 10px;
    width: 300px;
}

/* Padding із різними значеннями та властивостями для різних типів об'єктів 
!!! Відступи прийнято задавати для батьківського елементу, для прикладів і експериментів цим правилом знехтуєм для спрощення !!! */

.block {
    /* Задаємо колір фону для наглядності */
    background-color: rgba(52, 216, 52, 0.644);

    /* Внутрішній відступ з усіх сторін у пікселях*/
    /* padding: 20px; */

    /* Внутрішній відступ з усіх сторін у відсотках */
    /* padding: 1%; */

    /* Внутрішні відступи різні з різних сторін за правилом годинникової стрілки комбо px + % */
    /* padding: 10px 5% 50px 10%; */
}

.inline-block {

    background-color: rgba(52, 216, 52, 0.644);

    /* Внутрішній відступ з усіх сторін у пікселях */
    /* padding: 20px; */

    /* Внутрішній відступ тільки з лівої сторони, значення буде братись від батьківського елементу, а саме ширини*/
    /* padding-left: 10%; */

    /* Внутрішній відступ тільки зверху сторони */
    /* padding-top: 20px; */

    /* Внутрішній відступ тільки знизу, значення буде братись від батьківського елементу, а саме ширини*/
    /* padding-bottom: 5%; */
}

.inline {
    /* Задаємо колір фону для наглядності */
    background-color: coral;

    /* Внутрішній відступ для рядкового елементу, все дуже ломається і виглядає криво, можна виправити через властивість display зі значенням inline-block (якщо цього вимагає задача) */

    /* padding-top: 20px;
    padding-right: 200px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: inline-block; */
}

/* Margin із різними значеннями та властивостями для різних типів об'єктів */

.block {

    background-color: rgba(52, 216, 52, 0.644);

    /* При від'ємному зовнішньому відступі об'єкт буде перекривати інші елементи або взагалі пропаде з в'юпорта. те саме буде і з рядково-блочними об'єктами, бо вони відображаєются як рядок, а мають властивості блока */

    /* margin-top: -20px;
    margin-top: -2%;
    margin: 20px -20px; */

    /* Центрування блоків - одразу центрування не відбувається, бо об'єкт і так фактично по середині, бо займає усю ширину батьківського елементу. При заданні певної ширини (меншої за батьківську) він центрується */

    /* margin: 0 auto;
    width: 90%; */
}

.inline-block {

    background-color: rgba(52, 216, 52, 0.644);

    /* Зображення не буде центруватись, якщо воно має параметр display: inline-block, центрування відбудеться тільки при значенні block*/

    /* margin: 0 auto;
    display: block; */

    /* Приклад еффекту "схлопування" при заданні властивості margin значення на зустіч сусідньому об'єкту (у даному випадку до об'єкту ".inline" з параметром "block" */

    /* margin-top: 20px; */
}

.inline {

    background-color: coral;

    /* Верхній і нижний відступ у рядкових об'єктах не відображається */

    /* margin-top: 20px;
    margin-bottom: 20px;
    margin: 20px 0px 20px 0px; */

    /* У рядкових об'єктів відображається тільки відступ зліва і зправа */

    /* margin-right: 20px;
    margin-left: 20px;
    margin: 0px 20px; */


    /* Центрування рядкових об'єктів не буде відбуватись */

    /* margin: 0 auto;
    width: 90%; */

    /* Приклад еффекту "схлопування" при заданні властивості margin значення на зустіч сусідньому об'єкту (в даному випадку до об'єкту ".inline-block" 
    Такий ефект спрацьовує через те, що відступи працюють саме від об'єкту до об'єкту, а не від об'єкта до віступу, а потім вже до об'єкту */

    /* margin-bottom: 20px;
    display: block; */
}

/* Практикування властивості overflow */

.inline {

    background-color: rgba(52, 216, 52, 0.644);

    /* Властивість не працює на рядкові елементи */

    /* overflow: scroll; */
}

.inline-block {

    background-color: rgba(52, 216, 52, 0.644);

    /* На зображення також не працює */
    overflow: scroll;
}

.block {

    background-color: rgba(52, 216, 52, 0.644);

    /* width: 200px;
    height: 100px; */

    /* Схожі параметри і на данному етапі для себе різниці при відображенні контенту не побачив */

    /* overflow: hidden;
    overflow: clip;
    overflow: scroll; */

    /* Блок буде заданих розмірів при будь-якому значенні box-sizing, єдине що при значенні content-box у бразері в DevTools показує, що сам об'єкт (текст) меншого розміру, ніж при border-box. DIV з текстом залишається тих самих розмірів */

    /* overflow: auto;
    box-sizing: content-box; */
}

/* Властиавість Display */

.block {

    background-color: rgba(52, 216, 52, 0.644);

    /* Має ті самі властивості як у блоків, але вже будується (відображаєьться як рядковий) у лінію із рядковим SPAN */

    /* display: inline-block; */

    /* Перетворює блочним елемент на рядковий 
    Перевіряємо на margin зверху і знизу - не працює*/

    /* display: inline;
    margin: 15px 0px; */

    /* Не відображається, не обробляється браузером */

    /* display: none; */
}

.inline-block {

    background-color: rgba(52, 216, 52, 0.644);

    /* Візуально нічого не відбувається, бо зображення не може стати рядком :). На практиці теж без змін - є нижні і верхні відступи, значить цей об'єкт все ще inline-block */

    /* display: inline;
    margin: 15px 0px; */

    /* відображається і має властивості блочного елементу */

    /* display: block; */
}

.inline {

    background-color: coral;

    /* Тестування з рядковим елементом */

    /* display: inline-block; */
    /* display: block; */
}

/* Центрування блоку через margin */

.block {

    background-color: rgba(52, 216, 52, 0.644);

    /* Обов'язково робимо меншим по ширині за батьківський елемент, щоб відбулось центрування */

    /* width: 90%;
    margin: 0 auto;
    margin: 0 auto 0 auto; */
}

.inline-block {

    background-color: rgba(52, 216, 52, 0.644);

    /* Працює виключно для блочним елементів, для блочно-рядкових — ні */

    /* margin: 0 auto;
    display: block; */
}

.inline {

    background-color: coral;

    /* Не працює на рядкові елементи */

    /* margin: 0 auto; */
}

/* Ширина і висота елементів */

.block {

    background-color: rgba(52, 216, 52, 0.644);

    /* width: 400px; */

    /* Встановлюємо ширину у відсотках і її мінімальне і максимальне значення */

    /* width: 50%;
    min-width: 300px;
    max-width: 600px; */

    /* Тільки для тесту, у пратикці не використовувати, бо текст може оновлюватись/додаватись, і цей парметр може його сховати */

    /* Висота у % береться від висоти батьківського елементу */
    /* height: 23px; */
    /* min-height: 30px; */

    /* На відміну від ширини, висота для батьківського елементу має бути задана */
    /* height: 40%;
    min-height: 40px; */

}

.inline-block {

    background-color: rgba(52, 216, 52, 0.644);

    /* Якщо не вказана висота (або ширина, зеркальні параметри), то вона розрахується по прорції для зображень */

    /* width: 50%;
    height: 50%; */

    /* Робить саме зображення адаптативним, але не псує його якість, бо не збільшує початковий розмір, тільки зменшує при потребі
    
    При спробі додати ще звичайний параметр width втрачає таку можливість бути адаптивним без втрати якості */

    /* max-width: 100%; або
    height: 100% */

    /* width: 90%; */

    /* width: 50%;
    min-width: 500px; */
}

.inline {

    background-color: coral;

    /* Жодне значення властивостей height чи width не буде працювати на рядкові елементами */

    /* width: 50px;
    height: 20%; */
}

/* Вертикальне вирівнювання — як рядково-блочні об'єкти будуть виглядати по відношенню до тексту (рядкових об'єктів) */

.inline-block {

    background-color: rgba(52, 216, 52, 0.644);

    /* Цей параметр встановлений у файлі обнулення стилів */

    /* vertical-align: top; */

    /* vertical-align: auto;
    vertical-align: middle;
    vertical-align: bottom; */

    /* Пробую як встановлюються значення у пікселях, від'ємні значення */


    /* vertical-align: 70px;
    vertical-align: -250px; */

}



/* .layout-coral {
    background-color: #F3F4F4; */
/* width: 100%; */
/* max-width: 1920px; */





/* Стилізація макету для магазину Coral */

.layout-coral {
    background-color: #F3F4F4;

    /* По макету ще є відступи зліва і зправа по 300рх і width: 100%, але при центруванні і так буде встановлена такий віступ (враховуємо, що макет не адаптативний і розрахований виключно для 1920рх)
    Чи варто писати тут padding: 100px 300px, чи цей варіант оптимальніший?
    Також нижній margin для .instagram до наступного об'єкта - 70рх, але ми його не верстаємо, тому я залишив тільки padding батьківського елементу */
    padding: 100px 0px;
}

.instagram {
    /* Зробив обмеження по величині для внутрішнього (дочірнього елементу) */
    max-width: 1320px;

    margin: 0 auto 70px auto;
}

.instagram-title {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin: 0px 0px 60px 0px;

    /* Можна було задати цей параметр для усього блоку .instagram і не ставити окремо центрування зображень (margin: 0 auto;), який варіант буде оптимальнішим? */
    text-align: center;
}

.cards {
    font-size: 0;
}

.card {
    /* Знайшов декілька варіантів, як з поточними знаннями зробити актуальний відступ:
    
    1. Не вказувати у останнього елементу клас, тоді у нього не буде відступу і все буде вірно. На перспективу вважаю поганим варіантом, бо у зображень має бути встановлений розмір по макету, бо можуть змінити/додати зображення і макет зламається

    2. Через пріорітет селекторів перебити відступ і задати нульовий відступ для останнього елементу зправа 

    3. Найгірший на мою думку, бо "втручаємось" у макет: зменшити кожне зображення на 4рх (на 24 піксели вилазимо, 6 зображень, 24/6=4рх. Тобто поставити зображенням розмір по 196рх замість 200рх початкових 
    
    Який кращий? Чи краще дочекатись потрібної теми і там розкажуть?*/

    margin-right: 24px;
}




/* Стилізація статі для магазину KROVATO */

.krovato-article {
    background-color: #F8F8F8;

    /* Такі відступи задаємо, враховуючи, що тих елементів, які ми не верстаємо по завданню - немає на макеті */
    padding: 75px 0px 280px;
}

.article {
    max-width: 1070px;
    margin: 0px auto;
    font-family: Proxima Nova, sans-serif;
    /* 30px/16 */
    line-height: 1.875;
    color: #2b2929;
}

.article-title-2 {
    font-weight: 600;
    font-size: 40px;
    /* 48px/40 */
    line-height: 1.20;
    margin: 0px 0px 40px 0px;
}

.article-img {
    margin: 0px 0px 40px 0px;
}

.article-title-3 {

    /* По макету тут ще мав бути список після заголовку і до параграфу, тому такий відступ, намагаюсь звикати ставити відступи саме "зверху-вниз" та "зліва направо" */
    margin: 0px 0px 30px 0px;
    font-size: 20px;
    /* 28px/20 */
    line-height: 140%;
    font-weight: 600;
}

.article-paragraphs {
    margin: 0px 0px 40px 0px;
}

.article-paragraph {
    margin: 0px 0px 10px 0px;
}




/* Стилізація інфографіки для магазину KROVATO */

.krovato-infographic {
    background-color: #F8F8F8;

    /* Задає такі відступи з урахуванням, що будуть ще елементи, які ми не верстаємо для цього дз */
    padding: 589px 0px 70px;

}

.infographic {
    font-family: Proxima Nova, sans-serif;
    max-width: 1290px;
    margin: 70px auto 0px auto;
    color: #2b2929;
}

.infographic-title {
    font-size: 40px;
    font-weight: 600;
    /* 48px/40 */
    line-height: 120%;
    text-align: center;
    margin: 0px 0px 40px 0px;
}

.infographic-items {
    font-size: 0;
    padding-bottom: 90px;
}

.infographic-item {
    max-width: 300px;
    display: inline-block;
    margin-right: 30px;

    /* Цей параметр вирівняв ще і зображення. Чи можливо це робити у такому контексті чи варто центрувати зображення виключно окремо через margin и текст окремо через цю властивість? Пробував робити обидва варіанти, обидва працюють, але як краще на перспективу */
    text-align: center;
    vertical-align: top;
}

/* Прибираю відступ заправа у останнього елементу */

.infographic-item.last {
    margin: 0px;
}

.infographic-image {

    /* Як центрувати зображення через margin */
    /* margin: 0px auto 20px auto; 
    display: block; */

    margin: 0px 0px 20px 0px;

}

.infographic-item-title {
    font-size: 26px;
    font-weight: 600;
    /* 34px/26 */
    line-height: 1.30769231;
    margin: 0px 0px 20px 0px;
}

.infographic-item-text {
    font-size: 16px;
    /* 30px/16px */
    line-height: 1.875;
}