/* Підключення файлів обнулення стилів */
@import url('reset.css');

/* Підключення файлу шрифтів */
@import url('fonts.css');

.block {
   background-color: lightblue;
}

.inline {
   background-color: lightgreen;
}

.inline-block {
   background-color: lightcoral;
}

/* Якщо є хоч однк від'ємне значення - усі інші також не виконуються */
/* .block {
   padding: -15px 10px 40px 50%;
} */

/* .inline {
   padding-top: 15px;
   white-space: nowrap;
   ;
} */

/* .inline-block {
   padding: 5% 0 5% 0;
   padding: 5% 0;
} */

/* .block {
   margin-top: 50px;
   margin-left: -20px;
   max-width: 500px;
   margin: 0 auto;
} */

/* .inline {
   margin: 15px;
   white-space: nowrap;
   display: inline-block;
} */

/* Тягне текст за собою, при певних параметрах візуально vertical align збивається
на тексті і він починає жити своїм життям */
/* .inline-block {
   margin-top: 400px;
} */

/* .block {
   width: 50px;
   white-space: nowrap;
   height: 40px;
} */

/* .inline {} */

/* За замовчуванням зображення змінюється пропорційно, якщо задано тільки width або 
тільки height */
/* .inline-block {
   height: 200px;
} */

/* .block {
   padding: 50px;
   box-sizing: content-box;
   width: 200px;
} */

/* .inline {
   vertical-align: top;
   width: 20px; Не впливає ніяк
   height: 50px; Так само 0 ефекту
} */

/* .inline-block {
   padding: 50px;
   width: 200px;
   box-sizing: content-box;
} */

/* .block {
   overflow: scroll;
} */

/* Так як не можемо обмежити розміри через width, то і прокрутка не з'явдяється,
бо текст і так показаний увесь */
/* .inline {
   overflow: auto;
   white-space: nowrap;
} */

/* .inline-block {
   width: 500px;
   height: 500px;
} */

/* .container.inline-block {
   width: 400px;
   height: 400px;
   overflow: hidden;
} */

.container {
   background-color: #231F8B;
   padding: 112px 0px;
}

.container__box {
   max-width: 1049px;
   margin: 0 auto;
}

.container__text {
   margin-bottom: 70px;
   font-family: "Circular Std", sans-serif;
   font-size: 14px;
   color: white;
   max-width: 765px;
}

.container__text>* {
   margin-bottom: 10px;
}

/* Прибрав відступ у останнього елементу доступними наразі інструкментами,
загалом знаю, що так робити не ок, бо в кінці може бути який завгодно елемент */
.container__text h2+p {
   margin-bottom: 0px;
}

.container__text h2 {
   font-size: 36px;
   font-weight: 700;
}

.container__text p {
   font-weight: 450;
   line-height: 1.42857143;
   letter-spacing: 0.2px;
}

.container__text p span {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   line-height: 1.71428571;
   color: #5A54F2;
   letter-spacing: 0.2px;
}


/* Стилізування блоку з картками */
.container__cards {
   font-size: 0px;
   padding-top: 48px;
}

.container__cards>div {
   display: inline-block;
   background-color: white;
   max-width: 230px;
   padding: 35px 40px;
   margin-right: 30px;
}

.card__even>*,
.card__odd>* {
   margin-bottom: 20px;
}

.card__line {
   background-color: #E74040;
   width: 50px;
   height: 2px;
}

.card__odd.violet .card__line {
   background-color: white;
}

.container__cards h6 {
   font-family: "Circular Std", sans-serif;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.1px;
   color: #252B42;
}

/* Знову ж таки - костилем прибираю відступ у останнього об'єкту */
.container__cards p {
   margin-bottom: 0px;
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   line-height: 1.42857143;
   letter-spacing: 0.2px;
   color: #737373;
}

.card__odd.violet {
   background-color: #5A54F2;
}

.card__odd.violet h6,
.card__odd.violet p {
   color: white;
}

.card__odd {
   vertical-align: top;
   margin-top: -48px;
}