/* Підключення файлів обнулення стилів */
@import url('reset.css');

.header,
.footer {
   padding-left: 15px;
   padding-right: 15px;
   text-align: center;
   font-size: 35px;
   font-weight: 700;
}

/* Створення гри. Можна було "зациклити" на hover усі блоки, але
так було б не так цікаво. */
.button {
   padding: 10px 30px;
   background-color: brown;
   border-radius: 30px;
   font-size: 32px;
   font-weight: 700;
   text-transform: uppercase;
   color: wheat;
   box-shadow: 5px 5px 5px black;

   margin-bottom: 10px;
}

.button:active {
   margin: 2px 0px 0px 2px;
   box-shadow: 3px 3px 3px black;
}

.block-1 {
   width: 100px;
   height: 250px;
   background-color: green;
   margin-left: 330px;
   visibility: hidden;
}

.button:active+.block-1 {
   visibility: visible;
}

.block-1:hover {
   visibility: visible;
}

.block-2 {
   background-color: green;
   width: 280px;
   height: 80px;
   margin: -80px 0 0 330px;
   visibility: hidden;
   padding: 20px 40px;
   color: white;
   font-size: 36px;
}

.block-1:hover+.block-2 {
   visibility: visible;
}

.block-2:hover {
   visibility: visible;
}

.block-3 {
   width: 60px;
   height: 300px;
   background-color: green;
   margin: -80px 0 0 550px;
   visibility: hidden;
}

.block-3:target {
   visibility: visible;
}

.block-4 {
   display: block;
   width: 250px;
   height: 40px;
   background-color: green;
   color: white;
   margin: -40px 0 0 550px;
   visibility: hidden;
   padding: 10px 25px;
   font-size: 18px;
}

.block-3:hover+.block-4 {
   visibility: visible;
}

.block-4:hover {
   visibility: visible;
}

.block-5 {
   width: 20px;
   height: 100px;
   background-color: green;
   margin: 0 0 0 780px;
   visibility: hidden;
}

.block-4:focus-visible+.block-5 {
   visibility: visible;
}

.block-5:hover {
   visibility: visible;
}

.block-6 {
   height: 20px;
   width: 150px;
   background-color: green;
   margin: 0 0 0 780px;
   visibility: hidden;
   padding: 2px 10px;
   color: white;
   display: block;
}

.block-5:hover+.block-6 {
   visibility: visible;
}

.block-5:hover+.block-7 {
   visibility: visible;
}

.block-6:hover {
   visibility: visible;
}

.block-7 {
   width: 0px;
   height: 0px;
   border-color: green;
   border-top: 30px solid transparent;
   border-left: 70px solid green;
   border-bottom: 30px solid transparent;
   margin: -40px 0 0 930px;
   visibility: hidden;
}

.block-6:hover+.block-7 {
   visibility: visible;
}

.block-7:hover {
   visibility: visible;
}

.img {
   overflow: hidden;
   border-radius: 50%;
   border: 5px solid pink;
   width: 313px;
   margin: -180px 0 0 1000px;
   visibility: hidden;
}

.block-7:hover+.img {
   visibility: visible;
}

.img:hover {
   visibility: visible;
}